form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: rgb(62, 58, 58);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f9c701;
}
